swagger: '2.0'
info:
  title: V6 Challenge Resource API
  description: |
    ## Overview
    The Challenge Resource API v6 manages challenge resource assignments, resource roles,
    and their phase dependencies. Use these endpoints to look up or manage the members
    attached to a challenge and to maintain the metadata that controls resource behavior.

    ## Authentication
    Each endpoint description calls out the requirements for two supported token types:

    - **JWT (user) tokens**: Accepted Topcoder roles are listed for every operation. A
      request succeeds only when the authenticated user's roles include one of those
      values.
    - **M2M (machine) tokens**: Supply the scopes identified for the operation. Scopes
      configured by default are `read:resources`, `create:resources`, `update:resources`,
      `delete:resources`, and `all:resources`.

    Unless otherwise noted, endpoints expect an `Authorization: Bearer <token>` header.
    All routes are served under the `/v6` base path.
  version: 6.0.0
host: api.topcoder.com
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
schemes:
  - http
  - https
basePath: /v6
produces:
  - application/json
consumes:
  - application/json
paths:
  /resources/health:
    get:
      description: |
        Returns a lightweight health summary that can be used for monitoring.

        ### Authentication
        - Not required.
      tags:
        - Health
      responses:
        '200':
          description: success
          schema:
            type: object
            properties:
              checksRun:
                type: integer
                example: 1
        '503':
          $ref: '#/definitions/ServiceUnavailable'
  /resources:
    get:
      description: |
        Retrieve resources assigned to a challenge with optional filtering and sorting.

        ### Authentication
        - JWT roles: `administrator`, `copilot`, `Connect Manager`, `Topcoder User`
        - M2M scopes: `read:resources`, `all:resources`
        - Notes: Authentication is optional, but any supplied token must meet these requirements.
      tags:
        - Resources
      security:
        - Bearer: []
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/perPage'
        - name: challengeId
          type: string
          description: The challenge id
          format: UUID
          in: query
          required: true
        - name: memberId
          type: integer
          description: The member id
          in: query
        - name: memberHandle
          type: string
          description: The member handle
          in: query
        - name: roleId
          type: string
          description: role id to filter on
          format: UUID
          in: query
          required: false
        - name: sortBy
          type: string
          description: Sort the results by the field.
          in: query
          required: false
        - name: sortOrder
          type: string
          description: Order the results by the asc/desc.
          in: query
          required: false
      responses:
        '200':
          description: OK - the request was successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Resource'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/ServerError'
    post:
      description: |
        Create a new resource for a challenge. Verify that the challenge exists
        by calling the **/v6/challenges/{id}** endpoint using an M2M token.

        ### Authentication
        - JWT roles: `administrator`, `copilot`, `Connect Manager`, `Topcoder User`
        - M2M scopes: `create:resources`, `all:resources`
      tags:
        - Resources
      security:
        - Bearer: []
      parameters:
        - name: resource
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourceRequestBody'
      responses:
        '200':
          description: OK - the request was successful
          schema:
            $ref: '#/definitions/Resource'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '409':
          $ref: '#/definitions/Conflict'
        '500':
          $ref: '#/definitions/ServerError'
    delete:
      description: |
        Delete a resource from a challenge.

        ### Authentication
        - JWT roles: `administrator`, `copilot`, `Connect Manager`, `Topcoder User`
        - M2M scopes: `delete:resources`, `all:resources`
      tags:
        - Resources
      security:
        - Bearer: []
      parameters:
        - name: resource
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourceRequestBody'
      responses:
        '200':
          description: OK - the request was successful
          schema:
            $ref: '#/definitions/Resource'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/ServerError'
  /resources/count:
    get:
      description: |
        Return the number of resources assigned to a challenge, optionally filtered by role.

        ### Authentication
        - JWT roles: `administrator`
        - M2M scopes: `read:resources`, `all:resources`
      tags:
        - Resources
      security:
        - Bearer: []
      parameters:
        - name: challengeId
          type: string
          description: The challenge id to inspect.
          format: UUID
          in: query
          required: true
        - name: roleId
          type: string
          description: Optional resource role id filter.
          format: UUID
          in: query
      responses:
        '200':
          description: OK - the request was successful
          schema:
            type: object
            properties:
              count:
                type: integer
                description: Number of matching resources.
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/ServerError'
  '/resources/{resourceId}/phase-change-notifications':
    put:
      description: |
        Update the phase change notification setting for a specific resource. The preference can only be changed by the resource owner, an administrator, or an authorized machine token.

        ### Authentication
        - JWT roles: `administrator`, `copilot`, `Connect Manager`, `Topcoder User`
        - M2M scopes: `update:resources`, `all:resources`
      tags:
        - Resources
      security:
        - Bearer: []
      parameters:
        - name: resourceId
          in: path
          required: true
          type: string
          format: UUID
          description: The resource identifier.
        - in: body
          name: payload
          required: true
          schema:
            type: object
            required:
              - phaseChangeNotifications
            properties:
              phaseChangeNotifications:
                type: boolean
                description: Set to `true` to receive notifications when a challenge phase changes; `false` to opt out.
      responses:
        '200':
          description: OK - the preference was updated successfully.
          schema:
            $ref: '#/definitions/Resource'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/ServerError'
  /resources/internal/jobs/clean:
    post:
      description: |
        Remove non-production resource data created during automated testing.

        ### Authentication
        - JWT roles: `administrator`
        - M2M scopes: `all:resources`
      tags:
        - Resources
      security:
        - Bearer: []
      responses:
        '200':
          description: OK - the cleanup request succeeded
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '500':
          $ref: '#/definitions/ServerError'
  '/resources/{memberId}/challenges':
    get:
      description: |
        List the challenge IDs that the specified Topcoder member currently has access to.

        ### Authentication
        - JWT roles: `administrator`, `copilot`, `Connect Manager`, `Topcoder User`
        - M2M scopes: `read:resources`, `all:resources`
      tags:
        - Resources
      security:
        - Bearer: []
      parameters:
        - name: memberId
          type: integer
          in: path
          required: true
          description: the user id
        - name: resourceRoleId
          type: string
          format: UUID
          in: query
          required: false
          description: the resource role id filter
      responses:
        '200':
          description: OK - the request was successful
          schema:
            type: array
            items:
              type: string
              description: the challenge id
              format: UUID
              example: 97ee7396-5946-4a2e-968a-b35c7b009753
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '500':
          $ref: '#/definitions/ServerError'
  /resource-roles:
    get:
      description: |
        Get all resource roles. If filter parameters are provided, the results reflect those values.

        ### Authentication
        - Not required.
      tags:
        - Resource Roles
      parameters:
        - name: isActive
          type: boolean
          in: query
          description: Filters the results based on the `isActive` property
        - name: name
          type: string
          in: query
          description: Filters the results based on the `name` property
        - name: legacyId
          type: number
          in: query
          description: Filters the results based on the `legacyId` property
        - name: selfObtainable
          type: boolean
          in: query
          description: Filters the results based on the `selfObtainable` property
        - name: fullReadAccess
          type: boolean
          in: query
          description: Filters the results based on the `fullReadAccess` property
        - name: fullWriteAccess
          type: boolean
          in: query
          description: Filters the results based on the `fullWriteAccess` property
      responses:
        '200':
          description: OK - the request was successful
          schema:
            type: array
            items:
              $ref: '#/definitions/ResourceRole'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '500':
          $ref: '#/definitions/ServerError'
    post:
      description: |
        Create a new resource role.

        ### Authentication
        - JWT roles: `administrator`
        - M2M scopes: `create:resources`, `all:resources`
      tags:
        - Resource Roles
      security:
        - Bearer: []
      parameters:
        - name: resource
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourceRole'
      responses:
        '200':
          description: OK - the request was successful
          schema:
            $ref: '#/definitions/ResourceRole'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '409':
          $ref: '#/definitions/Conflict'
        '500':
          $ref: '#/definitions/ServerError'
  '/resource-roles/{resourceRoleId}':
    put:
      description: |
        Update an existing resource role.

        ### Authentication
        - JWT roles: `administrator`
        - M2M scopes: `update:resources`, `all:resources`
      tags:
        - Resource Roles
      security:
        - Bearer: []
      parameters:
        - name: resourceRoleId
          type: string
          format: UUID
          in: path
          required: true
        - name: resource
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourceRole'
      responses:
        '200':
          description: OK - the request was successful
          schema:
            $ref: '#/definitions/ResourceRole'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '409':
          $ref: '#/definitions/Conflict'
        '500':
          $ref: '#/definitions/ServerError'
  /resource-roles/phase-dependencies:
    get:
      description: |
        Get resource role phase dependencies.

        ### Authentication
        - JWT roles: `administrator`
        - M2M scopes: `read:resources`, `all:resources`
      tags:
        - Resource Role Phase Dependencies
      security:
        - Bearer: []
      parameters:
        - name: phaseId
          type: string
          description: The phase id
          format: UUID
          in: query
          required: false
        - name: resourceRoleId
          type: string
          description: The resource role id
          format: UUID
          in: query
          required: false
        - name: phaseState
          type: boolean
          description: The phase state
          in: query
          required: false
      responses:
        '200':
          description: OK - the request was successful
          schema:
            type: array
            items:
              $ref: '#/definitions/ResourceRolePhaseDependency'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/ServerError'
    post:
      description: |
        Create a new resource role phase dependency.

        ### Authentication
        - JWT roles: `administrator`
        - M2M scopes: `create:resources`, `all:resources`
      tags:
        - Resource Role Phase Dependencies
      security:
        - Bearer: []
      parameters:
        - name: resourceRolePhaseDependency
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourceRolePhaseDependencyRequestBody'
      responses:
        '200':
          description: OK - the request was successful
          schema:
            $ref: '#/definitions/ResourceRolePhaseDependency'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '409':
          $ref: '#/definitions/Conflict'
        '500':
          $ref: '#/definitions/ServerError'
  '/resource-roles/phase-dependencies/{id}':
    put:
      description: |
        Update an existing resource role phase dependency.

        ### Authentication
        - JWT roles: `administrator`
        - M2M scopes: `update:resources`, `all:resources`
      tags:
        - Resource Role Phase Dependencies
      security:
        - Bearer: []
      parameters:
        - name: id
          type: string
          format: UUID
          in: path
          required: true
          description: the dependency id
        - name: resourceRolePhaseDependency
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourceRolePhaseDependencyRequestBody'
      responses:
        '200':
          description: OK - the request was successful
          schema:
            $ref: '#/definitions/ResourceRolePhaseDependency'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '409':
          $ref: '#/definitions/Conflict'
        '500':
          $ref: '#/definitions/ServerError'
    delete:
      description: |
        Delete a resource role phase dependency.

        ### Authentication
        - JWT roles: `administrator`
        - M2M scopes: `delete:resources`, `all:resources`
      tags:
        - Resource Role Phase Dependencies
      security:
        - Bearer: []
      parameters:
        - name: id
          type: string
          format: UUID
          in: path
          required: true
          description: the dependency id
      responses:
        '200':
          description: OK - the request was successful
          schema:
            $ref: '#/definitions/ResourceRolePhaseDependency'
        '400':
          $ref: '#/definitions/BadRequest'
        '401':
          $ref: '#/definitions/Unauthorized'
        '403':
          $ref: '#/definitions/Forbidden'
        '404':
          $ref: '#/definitions/NotFound'
        '500':
          $ref: '#/definitions/ServerError'
parameters:
  page:
    name: page
    in: query
    description: The page number.
    required: false
    type: integer
    default: 1
  perPage:
    name: perPage
    in: query
    description: The number of items to list per page.
    required: false
    type: integer
    default: 20
    maximum: 100
definitions:
  Resource:
    type: object
    required:
      - id
      - challengeId
      - memberId
      - memberHandle
      - roleId
      - phaseChangeNotifications
      - created
    properties:
      id:
        type: string
        format: UUID
      challengeId:
        type: string
        format: UUID
      memberId:
        type: string
        format: UUID
      memberHandle:
        type: string
      roleId:
        type: string
        format: UUID
        description: The resource role ID
      phaseChangeNotifications:
        type: boolean
        description: Indicates whether the member receives notifications when challenge phases change.
      created:
        type: string
        format: date-time
        description: The entity creation date.
      updated:
        type: string
        format: date-time
        description: The entity update date.
      createdBy:
        type: string
        description: The user who created the entity.
        example: Topcoder User
      updatedBy:
        type: string
        description: The user who updated the entity.
        example: Topcoder User
  ResourceRole:
    type: object
    required:
      - name
      - fullReadAccess
      - fullWriteAccess
      - isActive
      - selfObtainable
    properties:
      id:
        type: string
        format: UUID
        readOnly: true
      name:
        type: string
        description: 'Unique resource role name, case in-sensitive'
      fullReadAccess:
        type: boolean
      fullWriteAccess:
        type: boolean
      isActive:
        type: boolean
      selfObtainable:
        type: boolean
  ResourceRolePhaseDependency:
    type: object
    required:
      - phaseId
      - resourceRoleId
      - phaseState
    properties:
      id:
        type: string
        format: UUID
        readOnly: true
      phaseId:
        type: string
        format: UUID
        description: the phase id
      resourceRoleId:
        type: string
        format: UUID
        description: the resource role id
      phaseState:
        type: boolean
  ResourceRequestBody:
    type: object
    required:
      - challengeId
      - memberHandle
      - memberId
      - roleId
    properties:
      challengeId:
        type: string
        format: UUID
        description: The challenge id
      memberHandle:
        type: string
        description: The member handle
      memberId:
        type: string
        description: The member id
      roleId:
        type: string
        format: UUID
        description: The resource role ID
  ResourceRolePhaseDependencyRequestBody:
    type: object
    required:
      - phaseId
      - resourceRoleId
      - phaseState
    properties:
      phaseId:
        type: string
        format: UUID
        description: the phase id
      resourceRoleId:
        type: string
        format: UUID
        description: the resource role id
      phaseState:
        type: boolean
  Unauthorized:
    type: object
    description: The unauthorized error entity.
    properties:
      message:
        type: string
        description: The unauthorized error message.
        example: Unable to authenticate the user.
      metadata:
        type: object
        description: freeform metadata object
  NotFound:
    type: object
    description: The not found error entity.
    properties:
      message:
        type: string
        description: The not found error message.
        example: A resource with the name could not be found.
      metadata:
        type: object
        description: freeform metadata object
  ServerError:
    type: object
    description: The server error entity.
    properties:
      message:
        type: string
        description: The server error message.
        example: >-
          Something went wrong while processing your request. We’re sorry for
          the trouble. We’ve been notified of the error and will correct it as
          soon as possible. Please try your request again in a moment.
      metadata:
        type: object
        description: freeform metadata object
  ServiceUnavailable:
    type: object
    description: The server is unavailable
    properties:
      message:
        type: string
        description: The server error message.
        example: Something went wrong with the server.
      metadata:
        type: object
        description: freeform metadata object
  BadRequest:
    type: object
    description: The bad request error entity.
    properties:
      message:
        type: string
        description: The bad request error message.
        example: Invalid input.
      metadata:
        type: object
        description: freeform metadata object
  Forbidden:
    type: object
    description: The permission error entity.
    properties:
      message:
        type: string
        description: The forbidden error message.
        example: You are not allowed to access the request.
      metadata:
        type: object
        description: freeform metadata object
  Conflict:
    type: object
    description: The conflict error entity.
    required:
      - message
    properties:
      message:
        type: string
        description: The conflict error message.
        example: Creating a resource with a name already exists.
      metadata:
        type: object
        description: freeform metadata object
